@media only screen and (min-width: 1200px) {}

@media only screen and (max-width: 576px) {
  .top-heading {
    font-size: 45px;
  }

  .header-bg {
    max-width: 400px;
  }

  .header {
    text-align: center;
  }

  .step-heading {
    font-size: 11px;
  }

  .step-number {
    max-width: 36px;
    padding: 5px 0;
    margin: 8px auto;
  }

  .plan-info {
    border: none;
  }

  .plan-info h3 {
    margin: 24px 0 6px 0;
    font-size: 13px;
  }

  .info h2 {
    font-size: 13px;
  }

  .plan-info img {
    width: 13px;
    height: auto;
    margin-right: 16px;
  }
  .chosen-plan-overview h1{
    font-size: 39px;
  }
  .others-plan-info {
    margin-bottom: 10px;
  }

  .monthly-durations {
    padding: 0 0;
  }
  .conditions-checkbox{
    margin-top: 35px;
  }
  .terms-and-conditions{
    margin-top: -10px;
  }
  .term-and-conditons-label{
    font-size: 18px;
  }
  .continue{
    padding: 15px 58px;
  }
  .back{
    padding: 15px 75px;
  }
  .personal-details-form{
    padding: 0 0;
  }
  .personal-details h1{
    margin: 20px 0;
  }
  .required-inputs{
  width: 380px;
  }
  .personal-details .conditions-checkbox{
    margin-top: 20px;
  }
  .review-payment-details{
    font-family: Helvetica Light, sans-serif;
  }
  .review-payment-details h1{
    color: #231F20;
    font-family: Helvetica Bold, sans-serif;
    font-size: 39px;
    margin-top: 20px;
  }
  .review-payment-details p{
    color: #231F20;
    font-size: 18px;
    margin-top: 20px;
  }
  .first-monthly-payment, .ongoing-monthly-payment{
    min-width: 400px;
    padding: 0 20px 15px 20px;
    background-color: #E3E3E3;
    margin-top: 15px;
  }

  .first-monthly-payment div{
    margin-bottom: 15px;
  }
  .first-monthly-payment div:last-child{
    margin-top: 15px;
  }
 .first-monthly-payment h5{
  font-size: 20px;
 }
.ongoing-monthly-payment div{
  margin-bottom: 15px;
}
.ongoing-monthly-payment hr{
  margin-bottom: 15px;
}
.ongoing-monthly-payment h5{
font-size: 20px;
}
.ongoing-monthly-payment h6{
font-size: 16px;
}
.review-payment-details h3{
margin: 20px 0 20px 20px;
}

.review-payment-details input{
width: 14px;
height: 14px;
}
.payment-radio{
font-size: 18px;
}
.booking-details {
  padding: 0 0;
}
.booking-confirmation,
.booking-plan-details,
.booking-payment-details,
.booking-information {
  max-width: 100%;
}
.go-to-email {
  padding: 15px 146px;
}
}