* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

/* ---------------------Fonts-Start------------------- */
/* --------------------Helvetica-Fonts-------------------- */
@font-face {
  font-family: 'Helvetica Bold';
  src: url('assets/font/helveticaNeueBlack/HelveticaNeueBold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Medium';
  src: url('assets/font/helveticaNeueBlack/HelveticaNeueMedium.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Light';
  src: url('assets/font/helveticaNeueBlack/HelveticaNeueLight.otf') format('opentype');
  font-style: normal;
}

/* --------------------Myriad-Fonts-------------------- */
@font-face {
  font-family: 'Myriad Bold';
  src: url('assets/font/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Semibold';
  src: url('assets/font/myriad-pro/MYRIADPRO-SEMIBOLD.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Regular';
  src: url('assets/font/myriad-pro/MYRIADPRO-REGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* ---------------------Fonts-End------------------- */
/* ---------------------Body------------------- */
body {
  max-width: 1200px;
  padding: 100px 40px;
  margin: 0 auto;
}

/* ---------------------Header-Start------------------ */
.top-heading {
  color: #231F20;
  text-align: center;
  margin: 20px 0;
  font-size: 72px;
  font-family: Helvetica Bold, sans-serif;
}

.header-bg {
  background-color: #F2F2F2;
  border-radius: 10px 10px;
}

.header {
  font-family: Helvetica Light, sans-serif;
  padding: 0 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
}

.steps {
  margin: 20px auto;
}

.step-heading {
  font-size: 24px;
}

.step-number {
  max-width: 80px;
  padding: 24px 0;
  margin: 12px auto;
  text-align: center;
  background-color: #ffffff;
  border-radius: 100%;
}

.step-number.active {
  color: white;
  background-color: #020202;
}

.step-number.completed {
  color: white;
  background-color: #CCCCCC;
}

.booking-header-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 3px solid #231F20;
  border-radius: 10px 10px;
  margin: 20px 0;
}

.plan-info {
  border-right: 1px solid #231F20;
  padding: 0 25px;
}

.plan-info:last-child {
  border: none;
  color: white;
  background-color: #231F20;
}

.plan-info.active {
  color: white;
  background-color: #231F20;
}

.plan-info h3 {
  margin: 8px 0 20px 0;
  font-size: 21px;
  font-family: Myriad Regular, sans-serif;
  font-weight: 400;
}

.plan-info img {
  width: 20px;
  height: 29px;
  margin-right: 16px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12px;
}

.info h2 {
  color: #231F20;
  font-size: 20px;
  font-family: Helvetica Light, sans-serif;
}

.plan-info:last-child .info h2 {
  color: white !important;
}

/* ---------------------Header-End------------------ */
/* ----------------------Workspace-Plans-Start------------------ */
.private-workspace, .shared-workspace, .collaborative-workspace{
  max-width: 350px;
  font-family: Helvetica Light, sans-serif;
  margin: 50px auto;
}
.private-workspace{
  border: 2px solid #E41E1E;
}
.shared-workspace{
  border: 2px solid #FF7439;
}
.collaborative-workspace{
  border: 2px solid #3E79E2;
}
.private-workspace>h2{
  color: #F30010;
  font-size: 26px;
  font-family: Helvetica Bold, sans-serif;
  padding: 30px 30px 0 30px;
}
.shared-workspace>h2{
  color: #FF7439;
    font-size: 26px;
  font-family: Helvetica Bold, sans-serif;
  padding: 30px 30px 0 30px;
}
.collaborative-workspace>h2{
  color: #3E79E2;
    font-size: 26px;
  font-family: Helvetica Bold, sans-serif;
  padding: 30px 30px 0 30px;
}

.private-workspace>hr {
  background-color: #E41E1E;
  height: 1px;
  border: 0;
}
.shared-workspace>hr {
  background-color: #FF7439;
  height: 1px;
  border: 0;
}
.collaborative-workspace>hr {
  background-color: #3E79E2;
  height: 1px;
  border: 0;
}

.office>p {
  font-family: Helvetica Light, sans-serif;
  font-weight: 600;
  text-align: end;
  padding: 0 30px 15px 30px;       
}

.plan-selection{
  display: flex;
  justify-content: space-between;
  padding: 0 30px 16px 30px;
}
.plan-selection div>input{
  margin-top: 16px;
  width: 18px;
  height: 18px;
}
.plan-selection div>label{
  font-size: 20px;
}
.values>p{
  font-family: Helvetica Light, sans-serif;
  font-weight: 400;
  margin-top: 15px;
  font-size: 20px;
}
.services{
  padding: 14px 15px 34px 15px;
}
.services>p{
  margin-top: 10px;
}

/* ----------------------Workspace-Plans-End------------------ */
/* --------------------Chosen-Plan-Overview-start----------------------- */

.chosen-plan-overview {
  font-family: Helvetica Light, sans-serif;
}
.chosen-plan-overview h1{
  font-family: Helvetica Bold, sans-serif;
  margin: 50px 0 25px 0;
  color: #E41E1E;
  font-size: 48px;
  letter-spacing: 1px;
}
.chosen-plan-overview h3{
  font-family: Helvetica Light, sans-serif;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 1px;
}
.chosen-plan-overview h4{
  font-family: Helvetica Light, sans-serif;
}
.others-plan-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
select.selected-plan-overview {
  padding: 11px 7px;
  margin: 14px 0;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  font-size: 18px;
}
.people-quantity{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 183px;
  padding: 5px;
  margin: 14px 0;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}
.decrement, .increment{
  padding: 4px 12px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 5px;
  width: 38px;
}
.decrement:hover{
  background-color: #fcb7b7;
}
.increment:hover{
  background-color: #fcb7b7;
}
.date{
  padding: 9px 7px;
  margin: 14px 0;
  border: 1px solid #9A9A9A;
  border-radius: 5px;
  font-size: 18px;
  min-width: 183px;
}
/* --------------------Chosen-Plan-Overview-End----------------------- */
 /* ------------------------------Choose-a-Duraton-Start------------------- */
 .choose-duration{
   font-family: Helvetica Light, sans-serif;
   letter-spacing: .5px;
 }
 .choose-duration h2{
  font-family: Helvetica Bold, sans-serif;
}
.monthly-durations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 100px;
}
.monthly-durations h4{
  border: 2px solid #231F20;
  border-radius: 100%;
  padding: 50px 43px;
  line-height: 26px;
  margin-top: 15px;
}
.monthly-durations h4:nth-child(2){
  background-color: #F9BA15;
}
.conditions-checkbox{
  display: flex;
  align-items: center;
}
.terms-and-conditions{
  width: 28px;
  height: 28px;
  margin-right: 10px;
}
.term-and-conditons-label{
  font-family: Helvetica Light, sans-serif;
  font-size: 24px;
  align-content: center;
}
      /* ------------------------------Choose-a-Duraton-End------------------- */














/* -------------Frontend-Interact-Css-Start------------------------------- */
.private-office, .team-office-suite, .hybrid-office, .day-office, .dedicated-desk, .day-pass, .flexible-desk, .virtual-office, .conference-room, .event-space, .podcast-studio, .zoom-call-room, .color-burst-room, .alap-room, .alochona-room{
  display: none;
}
/* -------------Frontend-Interact-Css-End------------------------------- */